@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.login-container {
  max-width: 410px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container .form-title {
  text-align: center;
  font-size: 1.37rem;
  font-weight: 600;
  margin-bottom: 1.87rem;
}

.login-form .input-wrapper  {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.login-form .input-wrapper .input-field {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.06rem;
  border-radius: 0.31rem;
  border: 1px solid #5b806b;
  padding: 0 1.25rem 0 3.12rem;
  transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus {
  border-color: #84b59a;
}

.login-form .input-wrapper .input-field::placeholder {
  color: #5b806b;
}

.login-form .input-wrapper i {
  color: #5b806b;
  position: absolute; 
  top: 50%;
  left: 0.9rem;
  pointer-events: none;
  transform: translateY(-50%);
}

.login-form .input-wrapper .input-field:focus ~ i {
  color: #5fc08b;
}

.login-form .login-button {
  width: 100%;
  height: 54px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  background: #5fc08b;
  margin-top: 2.19rem;
  border-radius: 0.31rem;
  transition: 0.2s ease;
}

.login-form .login-button:hover {
  background: #84b59a;
}

.login-container .signup-text {
  text-align: center;
  font-weight: 500;
  margin: 1.75rem 0 0.31rem;
}

.login-container a {
  color: #5fc08b;
  font-weight: 500;
  text-decoration: none;
}
.login-container a:hover {
  text-decoration: underline;
  color: #84b59a;
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.form-container {
  background: #fff;
  padding: 50px;
  margin-left: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  color: #000;
}

/* @media (prefers-color-scheme: dark) {
  .form-container {
    background: #2e2e2e;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  margin-top: 80px;
  min-width: 320px;
  min-height: 100vh;
  background: #A2E3C4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


